.header{padding: 1.5vh 1vw;}
.search-area{
    display: flex;
    justify-content: space-around;
}
.form-select{height: 5vh; padding: 0vh 0.5vw; width: 11vw;}
.form-select option{font-size: 1.1vw;}
.form-outline input{height: 5vh; padding: 0 0.5vw;}
#srch-term{width: 8vw;}
.input-group button{height: 5vh;}
.h4{
    font: 300 1.2vw/3vh arial;
    text-transform: capitalize;
    width: 8vw;
}
.social-icon{
    display: flex;
}
.social-icon a{margin: 0 0.5vw;}